################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BackgroundJob/bin
/BackgroundJob/obj
/BackgroundJob.Android/bin
/BackgroundJob.Android/obj
/BackgroundJob.iOS/bin
/BackgroundJob.iOS/obj