################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BackgroundJob/DesignTimeBuild
/BackgroundJob/bin/Debug/netstandard2.0
/BackgroundJob.Android/bin/Debug
/BackgroundJob.Android/obj/.cache
/BackgroundJob.Android/obj/Debug/90/android/bin
/BackgroundJob.Android/obj/Debug/90/android
/BackgroundJob.Android/obj/Debug/90/app_shared_libraries
/BackgroundJob.Android/obj/Debug/90/flat
/BackgroundJob.Android/obj/Debug/90/res
/BackgroundJob.Android/obj/Debug/90/stamp
/BackgroundJob.Android/obj/Debug/90/acw-map.txt
/BackgroundJob.Android/obj/Debug/90/adb.props
/BackgroundJob.Android/obj/Debug/90/android_debug_keystore.flag
/BackgroundJob.Android/obj/Debug/90/BackgroundJob.Android.csproj.CopyComplete
/BackgroundJob.Android/obj/Debug/90/BackgroundJob.Android.csproj.CoreCompileInputs.cache
/BackgroundJob.Android/obj/Debug/90/BackgroundJob.Android.csproj.FileListAbsolute.txt
/BackgroundJob.Android/obj/Debug/90/build.props
/BackgroundJob.Android/obj/Debug/90/buildid.txt
/BackgroundJob.Android/obj/Debug/90/devices.cache
/BackgroundJob.Android/obj/Debug/90/emulator-5554.deployment
/BackgroundJob.Android/obj/Debug/90/R.cs.flag
/BackgroundJob.Android/obj/Debug/90/libraryprojectimports.cache
/BackgroundJob.Android/obj/Debug/90/libraryimports.cache
/BackgroundJob.Android/obj/Debug/90/emulator-5556.deployment
/BackgroundJob.Android/obj/Debug/90/upload.flag
/BackgroundJob.Android/obj/Debug/90/static.flag
/BackgroundJob.Android/obj/Debug/90/resolvedassemblies.hash
/BackgroundJob.Android/obj/Debug/90/res.flag
/BackgroundJob.Android/obj/Debug/90/R.txt
/BackgroundJob.Android/obj/Debug/90/_VerifyXamarinAndroidSupportVersions.stamp
/BackgroundJob.Android/obj/Debug/90/_TelemetryProps
/BackgroundJob.Android/obj/Debug/90/_javac.stamp
/BackgroundJob.Android/obj/Debug/90/_IsIncrementalBuild
/BackgroundJob.Android/obj/Debug/90/XamlC.stamp
/BackgroundJob.Android/obj/Debug/90/customview-map.txt
/BackgroundJob.Android/obj/Debug/90/BackgroundJob.Android.pdb
/BackgroundJob.Android/obj/Debug/90/BackgroundJob.Android.dll
/BackgroundJob.Android/obj/Debug/90/__environment__.txt
