################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BackgroundJob/DesignTimeBuild
/BackgroundJob/bin/Debug/netstandard2.0
/BackgroundJob.Android/bin/Debug
/BackgroundJob/obj
/BackgroundJob.Android/obj
